[submodule "modules/IMX-5-Sensor-Module"]
	path = modules/IMX-5-Sensor-Module
	url = git@github.com:POLOCALC/IMX-5-Sensor-Module.git
[submodule "modules/LM76-Temperature-Sensor"]
	path = modules/LM76-Temperature-Sensor
	url = git@github.com:POLOCALC/LM76-Temperature-Sensor.git
[submodule "modules/ADS1015-ADC-Module"]
	path = modules/ADS1015-ADC-Module
	url = git@github.com:POLOCALC/ADS1015-ADC-Module.git
[submodule "modules/Inertial-Sensors-Module"]
	path = modules/Inertial-Sensors-Module
	url = git@github.com:POLOCALC/Inertial-Sensors-Module.git
[submodule "modules/Alvium-Camera-Module"]
	path = modules/Alvium-Camera-Module
	url = git@github.com:POLOCALC/Alvium-Camera-Module.git
